.robot-3d{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -10%;
    right: 0%;
    filter: drop-shadow(
        0px 0px 10px rgb(212, 0, 255),
        0px 0px 15px rgb(183, 0, 219),
        0px 0px 18px rgb(181, 15, 214),
        0px 0px 20px rgb(127, 15, 150),
        0px 0px 34px rgb(146, 17, 172)
    );
    filter: drop-shadow(
        inset 0px 0px 10px rgb(212, 0, 255),
        inset 0px 0px 15px rgb(183, 0, 219),
        inset 0px 0px 18px rgb(181, 15, 214),
        inset 0px 0px 20px rgb(127, 15, 150),
        inset 0px 0px 34px rgb(146, 17, 172)
    );
}
