*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    overflow: hidden ! important;
    background: #000;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

.cursor-3d{
    width: 100% ! important;
    height: 100vh ! important;
    position: fixed ! important;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.link__blok{
    width: 200px;
    height: 200px;
    display: none;
    background: #000;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 1999;
}

.close-spline{
    font-size: 30px;
    color: #fff;
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 2000;
}

.section{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;

    &__left{
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        border: 1px solid #fff;
        border-radius: 10px 0 0 10px;
        padding: 20px;
    }

    &__button{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        background: #000;
        font-weight: 600px;
        font-size: 16px;
        color: #fff;
        gap: 10px;
    }

    &__right{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        border: 1px solid #fff;
        border-radius: 0 10px 10px 0;

        &__top{
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #000;
            padding: 20px;
            border: 1px solid #fff;

            &-box{
                gap: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-btn{
                width: 80px;
                height: 30px;
                border-radius: 10px;
                background: #000;   
                color: #fff;
                font-weight: 600px;
                font-size: 16px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                animation: spin-btn 3s linear infinite;

                &:hover{
                    background: #fff;
                    color: #000;
                    transition: all 0.3s ease-in-out;
                }
            }

            @keyframes spin-btn {
                0%{
                    border-right: 1px solid #000000;
                    border-top: 1px solid #000000;
                    border-left: 1px solid #000000;
                    border-bottom: 1px solid #fff;
                }
                25%{
                    border-bottom: 1px solid #000000;
                    border-right: 1px solid #000000;
                    border-top: 1px solid #000000;
                    border-left: 1px solid #fff;
                    box-shadow: -8px 0px 22px -10px rgb(255, 255, 255);
                }
                50%{
                    border-left: 1px solid #000000;
                    border-bottom: 1px solid #000000;
                    border-right: 1px solid #000000;
                    border-top: 1px solid #fff;
                }
                75%{
                    border-top: 1px solid #000000;
                    border-left: 1px solid #000000;
                    border-bottom: 1px solid #000000;
                    border-right: 1px solid #fff;
                }
                100%{
                    border-right: 1px solid #000000;
                    border-top: 1px solid #000000;
                    border-left: 1px solid #000000;
                    border-bottom: 1px solid #fff;
                }
            }

            &-input{
                width: 300px;
                height: 30px;
                border-radius: 10px;
                border: 1px solid #5e5e5e;
                outline: none;
                padding: 0 10px;
                background: #000;
                font-weight: 600px;
                font-size: 16px;
                color: #fff;
            }
        }

        &__bottom{
            width: 100%;
            height: 770px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 8px;
                background: #000000;
            }
            &::-webkit-scrollbar-thumb {
                width: 8px;
                background: #646464;
                border: 1px solid #fff;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #141414;
            }
        }
    }
}

.profile{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;

    &__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    &__input-file{
        width: 100px;
        height: auto;
        border-radius: 4px;
        border: 1px solid #fff;
        background: #000;
        color: #fff;
        font-weight: 600px;
        font-size: 16px;
        cursor: pointer;
    }

    &__info{
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-text{
            width: 100%;
            height: 30px;
            border: 1px solid #fff;
            border-radius: 10px;
            background: #000;
            padding: 0px 10px;
            gap: 10px;
            color: #fff;            
            font-weight: 600px;
            font-size: 16px;
        }
    }

    &__button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid #fff;
        background: #000;
        color: #fff;
        font-weight: 600px;
        font-size: 16px;
        cursor: pointer;
    }
}

#save{
    display: none;
    background-color: green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(4, 105, 0, 0.2),
                0 0 30px rgba(0, 165, 0, 0.452),
                0 0 40px rgba(31, 187, 0, 0.534),
                0 0 50px rgba(28, 165, 0, 0.842);
}

.card{
    width: 100%;
    height: 80px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &__img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;

        & img{
            width: 100%;
            height: 100%;
            border-radius: 50%; 
            object-fit: cover;
        }
    }

    &__info{
        width: 70%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &-category{
            width: 10%;
            color: #fff;
            font-weight: 600px;
            font-size: 16px;
        }

        &-title{
            width: 15%;
            color: #fff;
            font-weight: 600px;
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        &-description{
            width: 40%;
            color: #fff;
            font-weight: 600px;
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &-price{
            width: 10%;
            color: #fff;
            font-weight: 600px;
            font-size: 16px;
        }
    }
}