footer{
    width: 100vw;
    height: auto;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;

    .footer{
        width: clamp(300px, 90%, 1200px);
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        gap: 20px;

        &__logo{
            color: aliceblue;
            font-size: 38px;
            font-weight: 600;
            text-shadow: 0px 0px 4px rgb(255, 255, 255);
            transition: all 0.3s ease-in-out;

            &:hover{
                transition: all 0.3s ease-in-out;
                color: #ffffff;
                text-shadow: 0px 0px 4px rgb(212, 0, 255),
                        0px 0px 15px rgb(183, 0, 219),
                        0px 0px 18px rgb(181, 15, 214),
                        0px 0px 20px rgb(127, 15, 150),
                        0px 0px 34px rgb(146, 17, 172);
            }
        }

        &__list{
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        &__link{
            font-size: 16px;
            color: #fff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 400;
            transition: all 0.3s ease-in-out;

            &:hover{
                transition: all 0.3s ease-in-out;
                color: #ffffff;
                text-shadow: 0px 0px 4px rgb(212, 0, 255),
                        0px 0px 15px rgb(183, 0, 219),
                        0px 0px 18px rgb(181, 15, 214),
                        0px 0px 20px rgb(127, 15, 150),
                        0px 0px 34px rgb(146, 17, 172);
            }
        }

        &__box{
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        &__robot-info{
            font-size: 18px;
            color: #fff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 400;
            transition: all 0.3s ease-in-out;

            &:hover{
                transition: all 0.3s ease-in-out;
                color: #ffffff; 
                text-shadow: 0px 0px 4px rgb(212, 0, 255),
                        0px 0px 15px rgb(183, 0, 219),
                        0px 0px 18px rgb(181, 15, 214),
                        0px 0px 20px rgb(127, 15, 150),
                        0px 0px 34px rgb(146, 17, 172);
            }
        }
    }
}