.login{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(10px);
    z-index: 999;

    .secret-password{
        font-size: 20px;
        color: rgba(0, 0, 139, 0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .secret-username{
        font-size: 20px;
        color: rgba(245, 245, 220, 0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        top: 50px;
        left: 20px;
    }

    &__form{
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        background-color: #08001d96;
        border-radius: 10px;
        padding: 40px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover{
            transition: all 0.3s ease-in-out;
            transform: scale(1.05);
        }
    }

    &__title{
        font-size: 33px;
        color: #111111;
    }

    &__close{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: rgb(2, 2, 2);
        transition: all 0.3s ease-in-out;

        &:hover{
            transition: all 0.3s ease-in-out;
            color: #a402b9;
            text-shadow: 0px 0px 4px rgb(212, 0, 255), 0px 0px 15px rgb(183, 0, 219), 0px 0px 18px rgb(181, 15, 214), 0px 0px 20px rgb(127, 15, 150), 0px 0px 34px rgb(146, 17, 172);
        }
    }

    &__input{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 0 10px;
        background: #000;
        font-weight: 600px;
        font-size: 16px;
        color: #fff;
    }

    &__button{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 0 10px;
        background: #000;
        font-weight: 600px;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            transition: all 0.3s ease-in-out;
            color: #a402b9;
        }
    }
}