.toast{
    width: 100px;
    height: 40px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50);
    z-index: 1000;

    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover{
        transition: all 0.3s ease-in-out;
        text-shadow: 0px 0px 4px rgb(212, 0, 255), 
                0px 0px 15px rgb(183, 0, 219), 
                0px 0px 18px rgb(181, 15, 214), 
                0px 0px 20px rgb(127, 15, 150), 
                0px 0px 34px rgb(146, 17, 172);
    }
}

#success{
    display: none;
    background-color: green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(4, 105, 0, 0.2),
                0 0 30px rgba(0, 165, 0, 0.452),
                0 0 40px rgba(31, 187, 0, 0.534),
                0 0 50px rgba(28, 165, 0, 0.842);
}

#error{
    display: none;
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(255, 0, 0, 0.2),
                0 0 30px rgba(255, 0, 0, 0.452),
                0 0 40px rgba(255, 0, 0, 0.534),
                0 0 50px rgba(255, 0, 0, 0.842);
}
